<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBuyerRepositoryService" />
                <binding name="BasicHttpBinding_IPurchaseRepositoryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12533/BuyerRepositoryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuyerRepositoryService"
                contract="BuyerServiceRef.IBuyerRepositoryService" name="BasicHttpBinding_IBuyerRepositoryService" />
            <endpoint address="http://localhost:61367/PurchaseRepositoryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchaseRepositoryService"
                contract="PurchaseServiceRef.IPurchaseRepositoryService" name="BasicHttpBinding_IPurchaseRepositoryService" />
        </client>
    </system.serviceModel>
</configuration>